.floating {
    position: fixed;
    bottom: 48px;
    right: 48px;
    z-index: 1001;
}

.open-close-btn {
    border:1px solid;
    border-radius:25px;
    display:block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.reserve-table-container{
    /* min-width: 0px; */
    /* min-height: 200px; */
    max-height: 300px;
    overflow: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    bottom: 50px;
    right: 0px;
    background-color: ghostwhite;
}

.reserve-plan-table {
    border: 1px;
}

.confirm-btn{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.capacity-input {
    width: 90px;
}
